<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-retrofit-http" 
	version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>cordova-plugin-retrofit-http</name>
	<js-module name="cordova-plugin-retrofit-http" src="www/cordovaRetrofitHTTP.js">
		<clobbers target="cordova.plugins.cordova-plugin-retrofit-http" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="CordovaRetrofitHttpPlugin">
				<param name="android-package" value="com.itsoft.CordovaRetrofitHttpPlugin" />
			</feature>
		</config-file>
		
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>

		<source-file src="support/libs/retrofit-2.3.0.jar" target-dir="libs" />
		<source-file src="support/libs/converter-gson-2.3.0.jar" target-dir="libs" />
		<source-file src="support/libs/okhttp-3.8.1.jar" target-dir="libs" />
		<source-file src="support/libs/okio-1.13.0.jar" target-dir="libs" />
		<source-file src="support/libs/gson-2.8.1.jar" target-dir="libs" />		

		<source-file src="src/android/com/itsoft/CordovaRetrofitHttpPlugin/CordovaRetrofitHttpPlugin.java" target-dir="src/com/itsoft" />
		<source-file src="src/android/com/itsoft/CordovaRetrofitHttpPlugin/ApiService.java" target-dir="src/com/itsoft" />
		<source-file src="src/android/com/itsoft/CordovaRetrofitHttpPlugin/ApiUtils.java" target-dir="src/com/itsoft" />
		<source-file src="src/android/com/itsoft/CordovaRetrofitHttpPlugin/RetrofitHttpGet.java" target-dir="src/com/itsoft" />
		<source-file src="src/android/com/itsoft/CordovaRetrofitHttpPlugin/RetrofitHttpPost.java" target-dir="src/com/itsoft" />
		<source-file src="src/android/com/itsoft/CordovaRetrofitHttpPlugin/RetrofitHttpFileDownload.java" target-dir="src/com/itsoft" />
		<source-file src="src/android/com/itsoft/CordovaRetrofitHttpPlugin/RetrofitClient.java" target-dir="src/com/itsoft" />
		<source-file src="src/android/com/itsoft/CordovaRetrofitHttpPlugin/RetrofitHttpRequest.java" target-dir="src/com/itsoft" />
		<source-file src="src/android/com/itsoft/CordovaRetrofitHttpPlugin/Tls12SocketFactory.java" target-dir="src/com/itsoft" />

	</platform>
	

</plugin>